@import '../../constants.css';

.blinds-wrapper{
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
        background-image: url("../../images/headers/blinds.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        display: flex;
        justify-content: center;
        height: 50vh;
        padding: 20vh 0 2rem 0;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .title {
            color: white;
            z-index: 40;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: var(--black);
            opacity: 0;
        }
    }
}