@import '../../constants.css';

.donations-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: white;
    
    .header {
        background-image: url("../../images/headers/donations.jpg");
        background-size: 100%;
        background-position: center 70%;
        background-repeat: no-repeat;
        background-size: cover;
        
        position: relative;
        display: flex;
        justify-content: center;
        height: 50vh;
        padding: 20vh 0 2rem 0;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .title {
            color: white;
            z-index: 40;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: var(--black);
            opacity: .1;
        }
    }

    .content{
        @media screen and (max-width: 900px){
            padding: 4rem 0;
        }
        padding: 4rem 2rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .card-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: fit-content;
            justify-content: center;
            column-gap: 2rem;
            row-gap: 2rem;

            .card-wrapper {
                display:flex;
                flex-direction: column;
                align-items: center;

                text-align: center;

                width: 20rem;
                height: 20rem;

                background-image: url("../../images/donations/donations.jpg");
                

                position: relative;

                h2, h3, .sub-categories h3, &.single h3  {
                    &:hover{
                        background-color:var(--blue-3);
                        transition-duration: 200ms;
                    }
                }

                &.single{
                    justify-content: center;
                    h3 {
                        z-index: 40;
                        background-color: var(--black);
                        min-width: fit-content;
                        padding: 1rem;
                        max-width: 15vw;
                    }
                }

                background-size: cover;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    background-color: var(--black);
                    opacity: 0;
                }

                h2 {
                    
                    margin-bottom: 2rem;
                    z-index: 40;
                    background-color: var(--black);
                    width: 100%;
                }

                a {
                    padding: .6rem;
                    text-decoration: none;
                    color: white;
                    display: block;
                    width: 100%;
                }

                .sub-categories {
                    z-index: 40;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    h3{
                        background-color: var(--black);
                        width: fit-content;
                        padding: .5rem;
                    }
                }
            }
        }
    }
}