@import '../../constants.css';

.medical-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
        background-image: url("../../images/headers/medical.jpg");
        background-size: 100%;
        background-position: center 50%;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        display: flex;
        justify-content: center;
        height: 50vh;
        padding: 20vh 0 2rem 0;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .title {
            color: white;
            z-index: 40;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: var(--black);
            opacity: .4;
        }
    }

    .content {
        min-height: 100vh;
        max-height: fit-content;
        width: 100%;

        display:flex;
        flex-direction: column;

        #patients {
            color: var(--blue-3);
        }

        #hospitals {
            background-color: var(--blue-2);
        }

        .section-wrapper {
            padding: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 900px) {
                padding: 0;
            }

            .section-header {
                padding: 0 1rem;
                margin: 3rem 0;
            }

            .subsection-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 1rem;
                margin-bottom: 4rem;

                .desc {
                    width: 30vw;
                    flex-grow: 1;

                    @media screen and (max-width: 900px) {
                        margin: 0 .5rem 0 .5rem;
                    }

                    p {
                        font-size:1.5rem;
                    }
                }

                .pic {
                    max-height: 70vh;
                    object-fit: contain;
                }

                #pic1 {
                    margin-right: 2rem;
                    @media screen and (max-width: 900px) {
                        margin: 0;
                        width: 100%;
                    }
                }

                #pic2 {
                    margin:0 0 0 1rem;
                    @media screen and (max-width: 900px) {
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}