@import './constants.css';

* {
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  flex-grow: 2;
  margin-top: 5vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--black);
  transition: 500ms;
}

.menu {
  display: flex;
  list-style-type: none;

  .menu-item {
    position: relative;

    a {
      display: block;
      color: #FFF;
      text-decoration: none;
      padding: 10px 25px;
    }

    &.has-submenu {
      > a {
        position: relative;
        padding-right: 35px;
      }

      &:after {
        content: '+';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
      }

      .sub-menu {
        position: absolute;
        z-index: 999;
        
        opacity: 0;
        
        pointer-events: none;
        transition: 0.2s ease-out;

        min-width: 100%;
        width: max-content;
        background-color: #222;
        list-style-type: none;
        .menu-item {
          width: 100%;
        }
      }

      &:hover {
        > .sub-menu {
          opacity: 1;
          pointer-events: all;

          .sub-menu {
            top: 0;
            right: 100%;
          }
        }
      }
    }
  }
}