@import '../constants.css';

.donations-wrapper {
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    color: white;
    
    .header {
        background-image: url("../images/headers/donations.jpg");
        background-size: 100%;
        background-position: center 70%;
        
        position: relative;
        display: flex;
        justify-content: center;
        height: 50vh;
        padding: 20vh 0 2rem 0;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .title {
            color: white;
            z-index: 40;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: var(--blue-3);
            opacity: .6;
        }
    }

    .row-1 {
        height: 100vh;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .card-wrapper {
            display:flex;
            flex-direction: column;
            align-items: center;

            text-align: center;

            width: 30vw;
            height: 50vh;

            position: relative;

            background-image: url("../images/donations/education_bkgd.jpg");
            background-size: cover;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: var(--blue-3);
                opacity: .3;
            }

            h2 {
                padding: .6rem;
                margin-bottom: 2rem;
                z-index: 40;
                background-color: var(--black);
                width: 100%;
            }

            .sub-categories {
                z-index: 40;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h3{
                    background-color: var(--black);
                    width: fit-content;
                    padding: 1rem;
                }
            }
        }
    }
}