@import '../constants.css';

.history-wrapper {
    padding: 10vh 10vw;
    
    .title { 
        margin-bottom: 2rem;
        color: var(--blue-3);
    }

    .content{
        display: flex;
        flex-direction: row;
        height: fit-content;
        
        .text {
            height: fit-content;
            padding-left: 3rem;

            p {
                margin-bottom: 2rem;
                font-weight: 590;
                font-size: 1.3rem;
                text-align: left;
                opacity: .8;
            }
        }

        .clock {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    
}

