@import '../constants.css';

.dart {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.objectives-wrapper {
    padding: 10vh 10vw;
    background-color: var(--blue-1);
    max-height: fit-content;
    min-height: 100vh;

    .title {
        margin-bottom: 2rem; 
        color: var(--blue-3);
    }

    .content{
        display: flex;
        flex-direction: row;
        height: fit-content;

        .text {
            height: fit-content;
            padding-left: 3rem;

            p {
                margin-bottom: 2rem;
                font-weight: 590;
                font-size: 1.3rem;
                color: var(--black);
                text-align: left;

                opacity: .8;
            }
        }
    }
}