@import '../constants.css';

* {
    margin: 0;
    padding: 0;
}
.dart {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.objectives-wrapper {
    padding: 10vh 10vw;
    background-color: var(--blue-1);
    min-height: fit-content;
    height: 80vh;

    .content{
        height: fit-content;
        .text {
            height: fit-content;
        }
    }
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem; 
    color: var(--blue-3);
}

p {
    margin-bottom: 2rem;
    font-weight: 590;
    font-size: 1.3rem;
    color: var(--black);
    opacity: .8;
}

.content {
    display: flex;
    flex-direction: row;
}

.text {
    padding-left: 3rem;
    padding-right: 6rem;
}